.navbar-container {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: white;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

/* ----------------------------category links styles--------------------------- */

.navbar-category-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-category-button {
    background-color: white;
    cursor: pointer;
    border: none;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 19.2px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

.navbar-category-button-active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color)
}

.navbar-logo {
    justify-self: center;
    cursor: pointer;
}

/* ----------------------------currency and cart buttons styles--------------------------- */

.navbar-utilities {
    display: flex;
    align-items: center;
}

.navbar-utilities-button {
    margin-left: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart-count {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: absolute;
    top: -10px;
    right: -13px;
}

.navbar-utilities-button p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 7px;
}

.navbar-utilities-button:last-of-type img  {
    width: 25px;
}

/* ----------------------------currency menu styles--------------------------- */

.navbar-currency-menu-container {
    position: absolute;
    right: 60px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    background-color: white;
}

.navbar-currency-menu-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    padding: 15px 0 15px 0;
}

.navbar-currency-menu-container ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-currency-menu-container ul li:hover {
    background-color: #EEEEEE;
}

/* ----------------------------wrapper to close currency menu on click outside--------------------------- */

.currency-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0%);
}

@media screen and (max-width: 600px) {
    .navbar-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navbar-category-button {
        font-size: 16px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}